/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */
.doporucujeme {
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
}
h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
}
.recept-nazev1 {
    font-size: 1.75rem;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.hlavni-recept {
    background-image: url(images/burger.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
.recept-meta {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.recept-komentare, .recept-kategorie {
    flex: 1;
}
.recept-komentare {
    justify-content: flex-end;
    text-align: right;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}
.recept-nazev1 {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}
.recept {
    display: flex;
    flex-direction: column;
}
.recept-nazev {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}
.recept2 {
    background-image: url(images/sushi.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90px;
}
.recept3 {
    background-image: url(images/rajcata.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90px;
}
.recept4 {
    background-image: url(images/kure.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90px;
}
.recept5 {
    background-image: url(images/grilovani.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90px;
}
.recept-kategorie {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
/*Tablet*/

@media (min-width: 480px) {
    .recept-nazev1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .hlavni-recept {
        min-height: 250px;
    }
    .recept2, 
    .recept3,
    .recept4,
    .recept5 {
        min-height: 150px; 
    }
    .recept-komentare {
        padding-top: 1.25rem;
        padding-right: 1.25rem;
    }
    .recept-nazev1 {
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .recept-nazev {
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .recept-kategorie {
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    .doporucujeme {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hlavni-recept {
        flex-basis: 100%;
    }
    .sloupec {
        flex: 1;
    }
}

